/* variables */

:root {
  --txt-primary: #54008b;
  --txt-variant: #fcfcfc;
  --txt-secondary-borders: #013300;
  --btns-and-stats-bg: #006633;
  --stats-main-bg-filter: #84b118;
  --font-primary: "Roboto", sans-serif;
}

/* header and borders */

.logo {
  height: 120px;
  width: 120px;
}

.border-design {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 140px;
}

.website-main-title {
  font-family: var(--font-primary);
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--txt-primary);
  margin-top: 10px;
}

.website-sub-title {
  font-family: var(--font-primary);
  font-size: 2.5rem;
  font-weight: 100;
  color: var(--txt-primary);
  margin-top: 1px;
  margin-left: 10px;
}

.hori-line {
  background-color: var(--txt-secondary-borders);
  height: 2px;
  width: 1400px;
  position: absolute;
  top: 60px;
  left: 140px;
}

.vert-line {
  background-color: var(--txt-secondary-borders);
  height: 780px;
  width: 2px;
  position: absolute;
  left: 68px;
  margin-left: -3px;
}

/* stats display area */

.linear-gradient-filter {
  height: 750px;
  width: 1400px;
  border-radius: 25px;
  position: absolute;
  top: 140px;
  left: 140px;
  background-image: linear-gradient(
    to bottom,
    var(--stats-main-bg-filter),
    transparent
  );
  opacity: 0.55;
  z-index: -1;
}

.stats-display-area {
  height: 750px;
  width: 1400px;
  border-radius: 25px;
  position: absolute;
  top: 140px;
  left: 140px;
  background-image: url("source-material/images/tennis-court-pic.jpeg");
  background-position: center;
  z-index: -2;
}

/* search and nav bar */

.navbar {
  display: flex;
  border: solid 1px red;
  height: 50px;
  width: 916px;
  position: absolute;
  top: 160px;
  left: 380px;
  justify-content: space-evenly;
}

.nav-container-left {
  display: flex;
  align-items: center;
}

.dropdown {
  position: absolute;
  left: 0;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border-color: var(--txt-secondary-borders);
  border-width: 3px;
  background-color: #fcfcfc;
  color: var(--txt-primary);
  font-family: var(--font-primary);
  font-size: 20px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  /* appearance: none; */
}

.nav-container-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-input {
  position: relative;
  left: 45px;
  height: 32px;
  width: 380px;
  border-radius: 50px;
  border-color: var(--txt-secondary-borders);
  border-width: 3px;
  background-color: #fcfcfc;
  color: var(--txt-primary);
  font-family: var(--font-primary);
  font-size: 20px;
  text-align: center;
  align-items: center;
}

.search-btn {
  position: relative;
  left: 62px;
  height: 40px;
  width: 100px;
  border-radius: 50px;
  border-color: var(--txt-secondary-borders);
  border-width: 3px;
  background-color: var(--btns-and-stats-bg);
  color: var(--txt-variant);
  font-family: var(--font-primary);
  font-size: 18px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.search-btn:hover {
  background-color: transparent;
  box-shadow: 0.2px 0.2px 5px 2.5px #84b118;
}

/* navigation buttons */

.nav-arrows {
  position: absolute;
  right: 0;
}

#arrow-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.backward-arrow {
  position: relative;
  right: 5px;
}

.fa-angle-double-left {
  color: var(--txt-variant);
  font-size: 30px;
  font-weight: 900;
}

.forward-arrow {
  position: relative;
  left: 5px;
}

.fa-angle-double-right {
  color: var(--txt-variant);
  font-size: 30px;
  font-weight: 900;
}

/* information display containers */

.info-disp-container {
  display: flex;
  border: solid 1px red;
  height: 620px;
  width: 916px;
  position: absolute;
  top: 240px;
  left: 380px;
  justify-content: space-evenly;
}

.panel-header {
  color: var(--txt-variant);
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

#sh-ph-position {
  position: relative;
  display: flex;
  align-items: center;
  left: 25px;
}

#panel-subheader {
  position: relative;
  left: 10px;
  color: var(--txt-variant);
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 100;
}

.placeholder-long {
  position: absolute;
  left: 130px;
  height: 35px;
  width: 380px;
  border-radius: 50px;
  border: solid 3px var(--txt-secondary-borders);
  background-color: #fcfcfc;
}

.placeholder-short {
  position: absolute;
  left: 130px;
  height: 35px;
  width: 150px;
  border-radius: 20px;
  border: solid 3px var(--txt-secondary-borders);
  background-color: #fcfcfc;
}

/* rank panel */

.rank-panel {
  border: solid 3px var(--txt-secondary-borders);
  background-color: rgba(0, 102, 51, 0.75);
  height: 580px;
  width: 260px;
  border-radius: 25px;
  position: absolute;
  top: 18px;
  left: 0;
}

/* player panel */

.player-panel {
  border: solid 3px var(--txt-secondary-borders);
  background-color: rgba(0, 102, 51, 0.75);
  height: 260px;
  width: 580px;
  border-radius: 25px;
  position: absolute;
  top: 18px;
  left: 330px;
}

/* tour panel */

.tour-panel {
  border: solid 3px var(--txt-secondary-borders);
  background-color: rgba(0, 102, 51, 0.75);
  height: 260px;
  width: 580px;
  border-radius: 25px;
  position: absolute;
  bottom: 18px;
  left: 330px;
}
